/* SIGNUP */
.signup-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;
  height: 70vh;
  gap: 20px;
  align-items: center;
}
.signup-container input {
  width: 50%;
}

.file-container {
  width: 200px;
  height: 90px;
  border: solid green 2px;
}

.file-container input {
  display: none;
}

/* LOGIN */
.login {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vw;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
}
